<div class="col dashboard">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>URL</th>
        <th>Mobile Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>https://hi.jomwasap.my/cl0h51515071473</td>
        <td>{{ data.mobile_number }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="goToLink(data)">Go</button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="editData(data, i)" >Edit</button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteData(data, i)" >Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-danger btn-sm" [routerLink]="['/add-data']">Add</button>
</div>
