<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Jom Whatsapp</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/dashboard']">
          My Links
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/register']">REGISTER</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  (click)="onLogoutClick()" href="#">LOGOUT</a>
      </li>
    </ul>

  </div>
</nav>
